<a href="https://colab.research.google.com/github/VasanthiSivasankar/data_preprocess_nn/blob/main/Data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

In [4]:
data = pd.read_csv('Student_Performance_on_an_Entrance_Examination.csv')

In [5]:
print(data.isnull().sum())

Gender                  0
Caste                   0
coaching                0
Class_ten_education     0
twelve_education        0
medium                  0
Class_X_Percentage      0
Class_XII_Percentage    0
Father_occupation       0
Mother_occupation       0
time                    0
Performance             0
dtype: int64

In [6]:
print(data.head())

  Gender    Caste coaching Class_ten_education twelve_education   medium  \
0   male  General       NO                SEBA            AHSEC  ENGLISH
1   male      OBC       WA                SEBA            AHSEC   OTHERS
2   male      OBC       OA              OTHERS             CBSE  ENGLISH
3   male  General       WA                SEBA            AHSEC   OTHERS
4   male  General       OA                SEBA             CBSE  ENGLISH

  Class_X_Percentage Class_XII_Percentage Father_occupation Mother_occupation  \
0          Excellent            Excellent            DOCTOR            OTHERS
1          Excellent            Excellent    SCHOOL_TEACHER        HOUSE_WIFE
2          Excellent            Excellent          BUSINESS        HOUSE_WIFE
3          Excellent            Excellent    SCHOOL_TEACHER    SCHOOL_TEACHER
4          Excellent            Excellent   COLLEGE_TEACHER        HOUSE_WIFE

  time Performance
0  ONE   Excellent
1  TWO   Excellent
2  TWO   Excellent
3  ONE   Excellent
4  TWO   Excellent

In [7]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 666 entries, 0 to 665
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                666 non-null    object
 1   Caste                 666 non-null    object
 2   coaching              666 non-null    object
 3   Class_ten_education   666 non-null    object
 4   twelve_education      666 non-null    object
 5   medium                666 non-null    object
 6   Class_X_Percentage    666 non-null    object
 7   Class_XII_Percentage  666 non-null    object
 8   Father_occupation     666 non-null    object
 9   Mother_occupation     666 non-null    object
 10  time                  666 non-null    object
 11  Performance           666 non-null    object
dtypes: object(12)
memory usage: 62.6+ KB
None

In [8]:
encoder= OneHotEncoder()

In [11]:
encoded_data= pd.DataFrame(encoder.fit_transform(data[['Gender']]).toarray())
encoded_data= pd.DataFrame(encoder.fit_transform(data[['Caste']]).toarray())
encoded_data= pd.DataFrame(encoder.fit_transform(data[['coaching']]).toarray())
encoded_data= pd.DataFrame(encoder.fit_transform(data[['Class_ten_education']]).toarray())
encoded_data= pd.DataFrame(encoder.fit_transform(data[['twelve_education']]).toarray())
encoded_data= pd.DataFrame(encoder.fit_transform(data[['medium']]).toarray())
encoded_data= pd.DataFrame(encoder.fit_transform(data[['Class_X_Percentage']]).toarray())
encoded_data= pd.DataFrame(encoder.fit_transform(data[['Class_XII_Percentage']]).toarray())
encoded_data= pd.DataFrame(encoder.fit_transform(data[['Father_occupation']]).toarray())
encoded_data= pd.DataFrame(encoder.fit_transform(data[['Mother_occupation']]).toarray())
encoded_data= pd.DataFrame(encoder.fit_transform(data[['time']]).toarray())
encoded_data= pd.DataFrame(encoder.fit_transform(data[['Performance']]).toarray())

In [12]:
x=data.drop('Performance',axis=1)
y=data['Performance']

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [14]:
from sklearn.metrics import accuracy_score